*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  line-height: 1.7;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(240, 57%, 54%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: calc(2.7rem + 1.38vw);
}

h2 {
  font-size: calc(2.6rem + 0.66vw);
  color: hsl(218, 22%, 26%);
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

.wrapper {
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1300px;
  }
}

.section {
  padding-block: 50px;
}
@media screen and (min-width: 481px) {
  .section {
    padding-block: 80px;
  }
}

.subtitle {
  color: hsl(240, 57%, 54%);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.header {
  position: fixed;
  width: 100%;
  padding-block: 15px;
  background-color: transparent;
  z-index: 10;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__logo {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
.header .navbar__list {
  position: absolute;
  top: 0%;
  left: -100%;
  height: 100vh;
  width: 100%;
  background-color: hsl(218, 22%, 26%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  transition: all 0.5s ease-out;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header .navbar__list {
    all: unset;
    display: flex;
    gap: 20px;
  }
}
.header .navbar__list__item {
  color: hsl(0, 0%, 100%);
}
.header .navbar__list.active {
  left: 0;
  transition: all 0.5s ease-in;
}
.header .navbar__icons {
  cursor: pointer;
  position: relative;
  font-size: 2.5rem;
  z-index: 3;
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 768px) {
  .header .navbar__icons {
    display: none;
  }
}

.hero {
  background-image: url("../../images/hero-bg.jpg");
  min-height: 650px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding-block: 90px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }
}
.hero__content {
  color: hsl(0, 0%, 100%);
  max-width: 550px;
  margin: 0 auto;
}
.hero__content__paragraph {
  text-align: justify;
  word-break: break-all;
  margin-block: 15px 30px;
}
@media screen and (min-width: 768px) {
  .hero__content__paragraph {
    max-width: 400px;
  }
}
.hero__content__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 70px;
}
@media screen and (min-width: 481px) {
  .hero__content__buttons {
    flex-direction: row;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero__content__buttons {
    margin-bottom: 0px;
  }
}
.hero__content__buttons__explore {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  color: hsl(240, 57%, 54%);
  border-radius: 30px;
  padding: 10px 15px;
  width: 150px;
  font-size: 1.7rem;
  z-index: 0;
}
.hero__content__buttons__explore:hover,
.hero__content__buttons__explore :focus {
  transform: scale(1.2);
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 100%);
  background-color: transparent;
  transition: all 0.2s ease-in;
}
.hero__content__buttons__contact {
  cursor: pointer;
  background-color: hsl(240, 57%, 54%);
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  padding: 10px 15px;
  width: 150px;
  font-size: 1.7rem;
  z-index: 0;
}
.hero__content__buttons__contact:hover,
.hero__content__buttons__contact :focus {
  transform: scale(1.2);
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 100%);
  background-color: transparent;
  transition: all 0.2s ease-in;
}
.hero__content__img__item {
  border-radius: 20px;
}

.service__content {
  text-align: center;
}
.service__content__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .service__content__title {
    max-width: 550px;
    margin: 0 auto 80px auto;
  }
}
.service__content__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}
@media screen and (min-width: 481px) {
  .service__content__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .service__content__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.service__content__list__item {
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  padding: 25px;
}
.service__content__list__item__icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.service__content__list__item__icon__i {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: hsl(240, 57%, 54%);
  color: hsl(0, 0%, 100%);
}
.service__content__list__item__title {
  margin-block: 10px 15px;
}
.service__content__list__item__paragraph {
  word-break: break-all;
  margin-bottom: 10px;
  color: hsl(0, 0%, 79%);
}
.service__content__list__item__btn {
  color: hsl(240, 57%, 54%);
  text-align: left;
}

.about__content {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .about__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .about__content__poster__img {
    max-width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .about__content__poster__img {
    max-width: 600px;
  }
}
.about__content__text__title {
  margin-bottom: 20px;
}
.about__content__text__list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about__content__text__list {
    margin-bottom: 0px;
  }
}
.about__content__text__list__item {
  margin-bottom: 8px;
}
.about__content__text__list__item__preview {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
}
.about__content__text__list__item__preview__icon {
  color: hsl(240, 57%, 54%);
}
.about__content__text__list__item__preview__paragraph {
  cursor: pointer;
}
.about__content__text__list__item__preview__paragraph:hover {
  color: hsl(240, 57%, 54%);
}
.about__content__text__list__item__more {
  display: none;
}
.about__content__text__list__item__more__paragraph {
  color: hsl(0, 0%, 79%);
}
.about__content__text__list__item__more.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .feature__content {
    display: flex;
    align-items: center;
    gap: 6rem;
  }
}
.feature__content__text__title {
  margin-bottom: 10px;
}
.feature__content__text__paragraph {
  margin-bottom: 20px;
  color: hsl(0, 0%, 79%);
  text-align: justify;
  word-break: break-all;
}
.feature__content__text__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.15rem;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .feature__content__text__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0px;
  }
}
.feature__content__text__list__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.feature__content__text__list__item__icon {
  border-radius: 50%;
  padding: 5px;
  background-color: hsl(240, 57%, 54%);
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 768px) {
  .feature__content__poster__img {
    max-width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .feature__content__poster__img {
    max-width: 600px;
  }
}

.stats {
  background-position: 50%;
  background-image: url("../../../images/hero-bg.jpg");
  background-attachment: fixed;
  padding-block: 35px;
}
.stats__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 36px 24px;
}
@media screen and (min-width: 481px) {
  .stats__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .stats__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.stats__list__item {
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.stats__list__item__title {
  font-size: 3rem;
}
@media screen and (min-width: 481px) {
  .stats__list__item__title {
    font-size: 5rem;
  }
}

.case-study {
  background-color: hsl(220, 20%, 97%);
}
.case-study__text {
  text-align: center;
}
.case-study__text__title {
  max-width: 850px;
  margin: 0 auto 50px auto;
}
.case-study__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
@media screen and (min-width: 481px) {
  .case-study__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .case-study__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.case-study__list__item {
  background-color: hsl(0, 0%, 100%);
}
.case-study__list__item__img {
  width: 100%;
}
@media screen and (min-width: 481px) {
  .case-study__list__item__img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.case-study__list__item__content {
  padding: 20px;
}
.case-study__list__item__content__text__paragraph {
  margin-block: 10px;
}
.case-study__list__item__content__icons {
  display: flex;
  gap: 20px;
  color: hsl(0, 0%, 79%);
}
.case-study__list__item__content__icons__calendar, .case-study__list__item__content__icons__file {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cta {
  background-color: hsl(218, 22%, 26%);
}
.cta__content {
  border-bottom: 0.5px solid hsl(0, 0%, 79%);
}
@media screen and (min-width: 992px) {
  .cta__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.cta__content__title {
  max-width: 800px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 30px;
}
.cta__content__btn {
  margin-bottom: 20px;
  cursor: pointer;
  background-color: hsl(240, 57%, 54%);
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  padding: 10px 15px;
  width: 150px;
  font-size: 1.7rem;
  z-index: 0;
}
.cta__content__btn:hover,
.cta__content__btn :focus {
  transform: scale(1.2);
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 100%);
  background-color: transparent;
  transition: all 0.2s ease-in;
}

.footer {
  background-color: hsl(218, 22%, 26%);
  color: hsl(0, 0%, 100%);
  padding-bottom: 80px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 992px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__content__onin__text__logo {
  font-size: 2rem;
  text-transform: uppercase;
}
.footer__content__onin__text__social {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 2.25rem;
}
.footer__content__newsletter__paragraph {
  max-width: 350px;
  margin-bottom: 20px;
}
.footer__content__newsletter__subscribe {
  position: relative;
  display: flex;
}
.footer__content__newsletter__subscribe__field {
  outline: none;
  padding: 15px;
  background-color: #3a4456;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
}
.footer__content__newsletter__subscribe__btn {
  padding: 15px;
  position: absolute;
  right: 0;
  background-color: hsl(240, 57%, 54%);
  color: hsl(0, 0%, 100%);
  border-radius: 0px 10px 10px 0px;
}

.footer h4 {
  margin-bottom: 5px;
}

.footer p {
  color: hsl(0, 0%, 79%);
}/*# sourceMappingURL=main.css.map */