@use "../../abstract/breakpoints" as b;
@use "../../abstract/variables" as v;

.stats {
  background-position: 50%;
  background-image: url("../../../images/hero-bg.jpg");
  background-attachment: fixed;
  padding-block: 35px;
  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 36px 24px;
    @include b.mobile {
      grid-template-columns: repeat(2, 1fr);
    }
    @include b.tablet {
      grid-template-columns: repeat(4, 1fr);
    }
    &__item {
      text-align: center;
      color: v.$white-color;
      &__title {
        font-size: 3rem;
        @include b.mobile {
          font-size: 5rem;
        }
      }
    }
  }
}
