@use "../abstract/breakpoints" as b;
@use "../abstract/variables" as v;

.wrapper {
  padding-inline: 20px;
  @include b.tablet {
    margin: 0 auto;
    max-width: 1300px;
  }
}

.section {
  padding-block-start: v.$section-padding;
}

.subtitle {
  color: v.$primary-color;
  text-transform: uppercase;
  margin-bottom: 5px;
}
