@use "../abstract/variables" as v;
@use "../abstract/breakpoints" as b;

.header {
  position: fixed;
  width: 100%;
  padding-block: 15px;
  background-color: transparent;
  z-index: 10;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      font-size: 2rem;
      color: v.$white-color;
      text-transform: uppercase;
    }
    &__list {
      position: absolute;
      top: 0%;
      left: -100%;
      height: 100vh;
      width: 100%;
      background-color: v.$charcoal-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
      transition: all 0.5s ease-out;
      z-index: 1;
      @include b.tablet {
        all: unset;
        display: flex;
        gap: 20px;
      }
      &__item {
        color: v.$white-color;
      }
    }
    &__list.active {
      left: 0;
      transition: all 0.5s ease-in;
    }
    &__icons {
      cursor: pointer;
      position: relative;
      font-size: 2.5rem;
      z-index: 3;
      color: v.$white-color;
      @include b.tablet {
        display: none;
      }
    }
  }
}
